{{!debug}}


{{!record.id}}
{{!record.resource_type}} 
{{!record.media_type}} 
<p>{{record.display_title}}</p>
{{!record.language}}
<p>{{record.meaningful_description}}</p>
<p>{{record.additional_text}}</p>
{{!record.viewable}}
{{!record.categorization}}
{{!record.GUID}}
{{!record.standards}}


<button id='back'>Back</button>
